svg {
    background: white;
}

.country {
    fill: #cccccc;
    stroke: #333333;
    stroke-width: 0.5px;
}

.selected {
    opacity: 0.7;
}

#tooltip-container {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.year_option-select {
    margin-top: 20px;
    margin-left: 40px;
    fill: #64b646;
    width: auto;
}